.row{
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px
}
    .top-musicBITS{
      padding: 30px 0px 30px 0px;
    }
    .top-albumBITS{
      padding: 0px 0px 10px 0px;
    }
    .top-trackArtistBITS{
      padding: 25px 0px 00px 0px;
    }
    .play {
        opacity:0.05;
        top:5px;
        right:5px;
        z-index:100;
        position:absolute;
    }
    img:hover{
        opacity:0.6;
    }