<div class="col-xs-4 top-musicBITS">
    <div class="input-group">
    <span class="input-group-addon">iTunes</span>
    <input type="text" [value]="searchValue" class="form-control" (keyup)="onKey($event)" (keyup.enter)="searchClicked()">
    <span class="input-group-addon input-group-addon-remove">
        <span class="glyphicon glyphicon-remove" (click)="clearSearch()"></span>
    </span>
    </div>
</div>
<div class="col-xs-3 top-musicBITS">
    <div class="input-group">
    <button class="btn btn-default" (click)="searchClicked()">Search</button>
    <!-->
    <input type="radio" [checked]="mediaTypeMusic" (change)="mediaTypeMusicChanged($event)"/>Music
    <input type="radio" [checked]="mediaTypeVideo" (change)="mediaTypeVideoChanged($event)"/>Video
    <-->
    </div>
</div>

<div class="col-xs-4 top-trackArtistBITS">
    <div *ngIf="playerService.selectedTrack != null">
    <small> {{playerService.selectedTrack.artistName}}</small>
    <code> {{playerService.selectedTrack.trackName}}</code>
    </div>
</div>
    <div class="col-xs-2 top-albumBITS">
    <div *ngIf="playerService.selectedTrack != null">
    <img [src]="playerService.selectedTrack.artworkUrl100" (click)="playerService.play(playerService.selectedTrack)">
    </div>
</div>