 <div>
    <!--Good-->
    <div *ngIf="musicTracks!=null && musicTracks.length > 0">
        <ul class="list-group">
            <li *ngFor="let item of musicTracks" class="list-group-item" (click)="playerService.play(item)">
                <img [src]="item.artworkUrl30">
                <span *ngIf="playerService.selectedTrack != null && playerService.selectedTrack.trackId == item.trackId" class="badge alert-success">{{playerService.playerState}}</span>
                <span class="badge">{{item.kind}}</span>
                <small> {{item.artistName}}</small>
                <code> {{item.trackName}}</code>
            </li>
        </ul>
    </div>
    <!--Bad-->
    <div *ngIf="musicTracks!=null && musicTracks.length == 0">
        <h4>Sorry no results were found! for {{searchService.getSearchFilter()}}</h4>
    </div>
     <!--Ugly-->
    <div *ngIf="errorMessage!=null">
         <h4> Something went wrong!</h4>
        <p>{{errorMessage}}</p>
    </div>
</div>